@import "custom";

body {
    margin: 0;
    font-family: 'Inter', "Rubic", "Roboto Light", -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    overflow-x: hidden;
}

h1, h2, p, a, .btn {
    font-family: "Inter";
}
